APP_NAME=AgroControl
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://taller.agrocalera.app

APP_LOCALE=es
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=es_PE
APP_TIMEZONE=America/Lima

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=agrocontrol
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=.agrocalera.app
CORS_ALLOWED_ORIGINS=https://taller.agrocalera.app

SAP_CATALOG_URL=https://sap.agrocalera.app/api/v1/catalogos/peps-activos
SAP_CATALOG_TOKEN=
SAP_CATALOG_VERIFY_SSL=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
HOROMETRO_EVIDENCE_DISK=s3
QUEUE_CONNECTION=database
CACHE_STORE=database

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=usc1
AWS_BUCKET=taller
AWS_ENDPOINT=https://usc1.contabostorage.com
AWS_URL=
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_VERIFY_SSL=true

MAIL_MAILER=log
MAIL_FROM_ADDRESS=no-reply@agrocalera.app
MAIL_FROM_NAME="${APP_NAME}"
